<!DOCTYPE html>
{% extends "app/base.html" %}
{% load staticfiles  %}
    {% block body_block %}
        <div class="jumbotron">
            <h1>{{ title|upper}}</h1>
            <h1>{{ title|cut:"Welcome"}}</h1>
            <p>{{number|add:"4"}}</p>
            <img src="{% static 'img/icon-image.jpg' %}"/>
            <h2>Here are your access records</h2>
            <div class="django-template-views">
                {% if access_records %}
                    <table>
                        <thead>
                            <th>Site Name</th>
                            <th>Date Access</th>
                        </thead>
                        <tbody>
                            {% for acc in access_records %}
                                <tr>
                                    <td>{{ acc.name }}</td>
                                    <td>{{ acc.date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No Access Records Found</p>
                {% endif %}
            </div>
        </div>
    {% endblock %}   
